[submodule "lib/KrameWork"]
	path = lib/KrameWork
	url = https://github.com/Kruithne/KrameWork.git
[submodule "lib/PHP-Transmission-Class"]
	path = lib/PHP-Transmission-Class
	url = https://github.com/brycied00d/PHP-Transmission-Class.git
[submodule "lib/rss-php"]
	path = lib/rss-php
	url = https://github.com/dg/rss-php
