.feed-url {
	font-weight: italic;
	color: gray;
}
.feed-new-torrent {
	color: green;
	font-weight: bold;
}
.feed-added-torrent {
}
.feed-skipped-torrent {
	color: silver;
}
ul.history li {
		color: gray;
}
.list-group-item:hover {
		background: #afa;
}
