.feed-url {
	font-weight: italic;
	color: gray;
}
.feed-new-torrent {
	color: green;
	font-weight: bold;
}
.feed-added-torrent {
}
.feed-skipped-torrent {
	color: silver;
}
ul.history li {
		color: gray;
}
.list-group-item:hover {
		background: #afa;
}
div.hit {
	margin-bottom: 1px;
}
div.trusted {
	background: #98d9a8;
}
div.remake {
	background: #f0b080;
}
div.aplus {
	background: #60b0f0;
}
